<aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item">
        <a href="/">Home</a>
      </li>
      <li class="sidenav__list-item">
        <a href="/table">Table</a>
      </li>
      <li class="sidenav__list-item">
        <a href="#">Teams</a>
      </li>
      <li class="sidenav__list-item">
        <a href="#">Fixtures</a>
      </li>
      <li class="sidenav__list-item">
        <a href="#">Squads</a>
      </li>
      <li class="sidenav__list-item">
        <a href="/players">Players</a>
      </li>
    </ul>
</aside>
