@import 'utils';

/* Main content Area */
.home-container {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 73px
}

/* Calender Componets */
.calender-games {
    display: grid;
    grid-template-columns: auto 200px;
    font-size: 18px;
    color: $text-color;
    margin-left: 27px;
    margin-top: 27px;

  }
  .calender-header {
    grid-area: 1/1/2/3;
    background-color: $body-color;
    color: $header-color;
    font-size: 20px;
  }