/* Colors */
$body-color: #1f2833;
$header-color:#66fcf1;
$text-color: #c5c6c7;
$sidenav-color:  #394263;
$filter-color:  #b4b6b8;


/* BoxAttributes */
$box-shadow:
inset 0 -3em 3em rgba(0,0,0,0.1),
      0.4em 0.6em 1em rgba(0,0,0,0.3);


/* Components */
