.block-home {
    float: left;
    text-align: right;

}

.block-away {
    float: right;
    text-align: left;
}


/* .calender-game {
    display: inline;
    background-color: rgb(42, 165, 114);
} */