
<div class='home-container'>
    <div class='calender-games'>
        {{#each schedule}}
            <div class='calendar-game'>
                <div class='team-home'>
                    <a href='#'>{{this.teams.0.team.shortName}}</a>
                </div>

                <div class='match-info'>
                    {{this.kickoffLabel}}
                </div>

                <div class='team-away'>
                    <a href='#'>{{this.teams.1.team.shortName}}</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>